.navbar {
    position:"sticky";
    height: 80px;
    font-size:100%;
}

.navName {
    font-family: 'Abril Fatface', cursive;
    color: #abfbe4 !important;
}

Nav{
    -webkit-box-shadow: 3px 3px 6px #b6a4c3, -3px -3px 6px rgb(235, 226, 240);
    box-shadow: 3px 3px 6px #b6a4c3, -3px -3px 6px rgb(235, 226, 240);
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    font-family: 'IBM Plex Sans', sans-serif;
}

   .gradient-custom {
    /* fallback for old browsers */
    /* background: rgb(248, 226, 226); */
    /* background: rgb(254, 254, 254); */
    background: #9D4EDD;
     
/*     background: -webkit-linear-gradient(to right, rgb(178, 126, 213), rgb(113, 250, 195));
  
    
    background: linear-gradient(to right, rgb(239,246, 228), rgb(163, 197, 228));  */
    
  }



