#skills-header {
    font-family: 'Abril Fatface', cursive;
    color:#5A189A;
}

.skill-container {
    margin: 60px 0 0 80px;
    max-width: 1000px;
    max-height:100px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.skill {
    border-radius: 12px;
    margin: 10px;
    border: 1.5px solid #5bd9ce;
    padding: 8px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    /* background-color: aliceblue; */
    -webkit-box-shadow: 2px 2px 4px #bccfd2;
    box-shadow: 2px 2px 4px #bccfd2;
    transition: transform 250ms;
}

.skill span {
    margin-left: 10px;
    font-family: 'IBM Plex Sans', sans-serif;
    color:#021e21;
}

.skill img {
    height: 18px;
}

.skill:hover {
    transform: translateY(-3px);
    background-color:#d4e2e7;
  }

  /* .skill:hover span{
    color:rgb(23, 17, 105);
  } */

.stack-container {
    display:grid;
    margin:0;
    grid-template-columns: 70% 30%;
}